<h1><%= @artist.name %></h1>

<div class="container">
  <div class="info-card">
    <img src= <%= @artist.image %> />
    <div class="card-product-infos">
      <h2>Product name</h2>
      <p>Product description with <strong>relevant info</strong> only.</p>
    </div>
  </div>
</div>
