.artistshow {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}

.table-container {
  display: table;
  width: 80%;
  background: white;
  box-shadow: 0 0 16px rgba(0,0,0,0.2);
  border-radius: 4px;
}
.buttonnav:hover {
  color: white;
  text-decoration: none;
}