.indexbanner {
  padding: 200px 0;
  border: 0;
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://res.cloudinary.com/dofvu2msx/image/upload/v1590505280/banner_an0gxg.jpg');
  background-size: cover;
  background-position: center;
  text-align: center;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  height: 10%;
  margin-bottom: 30px;
}

.indexbanner h1 {
  color: white;
  letter-spacing: 3px;
}
