// SHOW PAGE

.exhibit-show-card {
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  margin: 10px;
  width: 70%;
  overflow: hidden;
  margin-bottom: 25px;
}

.image-show {
  width: 80%;
  height: 500px;
  text-align: center;
  margin: 10px;
  margin-bottom: 25px;

}

.image-show img {
  height: 100%;
  object-fit: contain;
  margin-bottom: 25px;

}

.about-the-artist {
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  margin: 10px;
  width: 80%;
  overflow: hidden;
  padding: 15px;
}

h1 {
  text-align: center;
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

.booking-button {
  width: 80%;
  margin: 10px;
}

.image-carousel {
  vertical-align: middle;
  text-align: center;
}

.carousel-item img {
  height: 400px;
  object-fit: contain;
  margin-bottom: 25px;

}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(1);
}

h1 {
  margin: 10px;
}

.carousel-control-prev,
.carousel-control-next{
}

.about-the-artist-image img {
  height: 100%;
  width: 500px;
  object-fit: cover;
}

.about-the-artist {
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  margin: 12px;
  overflow: hidden;
  flex: 50%;
  // max-width: 50%;
  height: 300px;
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
}

.about-the-artist-info {
  height: 100%;
  width: 500px;
  margin-left: 30px;
}

