// Import page-specific CSS files here.
@import "home";
@import "exhibitsindex";
@import "artistsindex";
@import "exhibitsshow";
@import "locations";

.exhibits {
  justify-content: space-around;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.exhibit-card {
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  margin: 0px;
  overflow: hidden;
  flex: 23%;
  max-width: 23%;
  margin-top: 20px;
  max-height: 432px;
  margin-bottom: 30px;
}

.exhibit-image img{
  height: 200px;
  width: 100%;
  object-fit: cover;
  }

.exhibit-info {
  padding: 15px;
  max-height: 87px;
}

.exhibit-info-right {
  float: right;
  text-align: right;
  position: relative;
}

.exhibit-info-left {
  float: left;
  text-align: left;
}

h5 {
  text-align: center;
}

.ft-artist-image img {
  height: 100%;
  width: 700px;
  object-fit: cover;
}

.ft-artist-card {
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  margin: 12px;
  overflow: hidden;
  flex: 50%;
  // max-width: 50%;
  height: 300px;
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
  }

.artist-h2 {
  margin-left: 25px;
}

.ft-museum-image img {
  height: 100%;
  width: 700px;
  object-fit: cover;
}

.ft-museum-image {
  object-fit: cover;
  height: 100%;
}

.ft-museum-card {
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  margin: 12px;
  overflow: hidden;
  flex: 50%;
  // max-width: 50%;
  height: 300px;
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
}

.museum-h2 {
  margin-left: 25px;
}

.ft-artist-card-info {
  padding: 10px;
}

.ft-museum-card-info {
  padding: 10px;
}
