.museumsbanner {
  padding: 200px 0;
  border: 0;
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://res.cloudinary.com/dofvu2msx/image/upload/v1590663769/moe-kong-UBITFsHr6lw-unsplash_sjzewk.jpg');
  background-size: cover;
  background-position: center;
  text-align: center;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  height: 10%;
  margin-bottom: 30px;
}

.museumsbanner h1 {
  color: white;
  letter-spacing: 3px;
}

.museum-card {
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  margin: 12px;
  overflow: hidden;
  flex: 40%;
  // max-width: 50%;
  height: 250px;
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
  }

.museum-index-image img{
  height: 100%;
  width: 500px;
  object-fit: cover;
  }

.museum-index-info {
  padding: 15px;
  max-height: 300px;
  width:50%;
  text-align: left;
}

h4 {
  text-align: left;
  font-style: bold;
}

