.my-bookings-banner {
  padding: 200px 0;
  border: 0;
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://res.cloudinary.com/dofvu2msx/image/upload/v1591100566/deanna-j-3GZlhROZIQg-unsplash_uo1yf4.jpg');
  background-size: cover;
  background-position: center;
  text-align: center;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  height: 10%;
  margin-bottom: 32px;
}

.my-bookings-banner h1 {
  color: white;
  letter-spacing: 3px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}


.my-bookings-list {
  display: block;
}

.my-bookings-card {
  display: flex;
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  margin-bottom: 24px;
  height: 240px;
}

.my-bookings-image {
  height: 240px;
  width: 45%;
  object-fit: cover;
}
.my-bookings-details{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4px 16px;
  line-height: 35px;
  width: 610px;
  margin-top: 3%;
}

.booking-info {
  display: flex;
  justify-content: space-between;
}

.booking-info p {
  font-size: 20px;
  margin-bottom: 0px;
}


.image_tag {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.details-name {
  font-size: 36px;
  margin-bottom: 16px;
  text-align: center;
}

.details-location {
  font-size: 20px;
  padding-bottom: 0px;
}

#message {
  color: green;
}

#fail-message {
  color: red;
}
.buttonnav:hover {
  color: white;
  text-decoration: none;
}
.pound {
  margin-top: 0px;
}
// .numbers {
//   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
// }

.booking-info {
  display: flex;
  margin-top: 0;
  padding-top: 10px;
  background: rgb(247, 247, 247);
  padding-bottom: 10px;
  margin-bottom: 16px;

}
.labels {
  text-align: right;
  padding-left: 40px;
  margin-bottom: 0px;
  margin-right: 0;
}

.values {
  text-align: left;
  float: left;
  padding-right: 100px;
  margin-bottom: 0px;
  margin-left: 0;
  font-weight: bold;
}
 .date-museum {

 }
