.table-container {
  display: table;
  width: 80%;
  background: white;
  box-shadow: 0 0 16px rgba(0,0,0,0.2);
  border-radius: 4px;
}
.table-col {
  display: table-cell;
  width: 50%;
  vertical-align: top;
}

@media only screen and (max-width: 600px) {
  .table-col {
    display: block;
    width: 100%;
  }
}

.table-container {
  img {
    max-height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 4px 0 0 4px;
  }

  h2 {
    font-weight: bold;
    padding: 16%;
    background-color: #f7b71d;
    border-radius: 0 4px 0 0;
    font-size: 150%;
    text-align: center;
  }

  h3 {
    font-size: 24px;
    font-weight: bold;
    margin: 16px;
    text-align: justify;
  }

  p  {
    font-size: 16px;
    margin: 16px;
    text-align: justify;
  }
}

.table-container .col-info {
  background-color: #fff4e3;
  border-radius: 0 0 4px 0;
}

.image-wrapper {
  // height: 250px;

}
