.dropbtn {
  background-color: #e4e4e4;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.museum-dropbtn, .artist-dropbtn, .exhibit-dropbtn, .style-dropbtn {
  background-color: #e4e4e4;
  color: black;
  padding: 2px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: grey;
  min-width: 10000px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  width: 10vw;
}

.dropdown-content a {
  color: black;
  padding: 12px 0px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {color: #801336;}

.dropdown:hover .dropdown-content {display: flex;}

.museum-dropdown:hover .museum-dropdown-content {
  display: contents;
  color: white;}
.artist-dropdown:hover .artist-dropdown-content {display: contents;}
.exhibit-dropdown:hover .exhibit-dropdown-content {display: contents;}
.style-dropdown:hover .style-dropdown-content {display: contents;}

// .dropdown:hover .dropbtn {background-color: red;}
