.footer {
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: auto;
  padding: 50px 50px;
  color: rgba(0,0,0,0.3);
  vertical-align: bottom;
  position: sticky-bottom;
  width: 100%;
  max-height: 30px;
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}

.footer-links a:hover {
  opacity: 1;
}

.footer .fa-heart {
  color: #D23333;
}

.content {
  // padding: 20px;
  min-height: 100%;
  margin: 0 auto -50px;
}

.footer, .push {
  background: white;
  display: flex;
}
