.info-card {
  overflow: hidden;
  height: auto;
  background: white;
  box-shadow: 0 0 16px rgba(0,0,0,0.2);
  display: flex;
  border-radius: 4px;
  padding: 24px;
}

.info-card {
  img {
    height: 50%;
    width: 50%;
    object-fit: contain;
    border-radius: 4px 0 0 4px;
  }

  h2 {
    font-weight: bold;
    padding: 16%;
    background-color: #f7b71d;
    border-radius: 0 4px 0 0;
    font-size: 150%;
    text-align: center;
  }

  h3 {
    font-size: 16px;
    font-weight: bold;
    margin: 16px;
    text-align: justify;
  }
}

.info-card p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin: 16px;
}

.info-card .info-card-infos {
  background-color: #fff4e3;
  border-radius: 0 0 4px 0;
}
