.navbar-brand {
  padding: 4px;
  margin-right: 10vw;
}

.search-form-control {
  position: relative;
}

.search-form-control .btn {
  position: absolute;
}

.second-navbar {
  display: flex;
  background-color: #e4e4e4;
  padding-left: 20%;
  padding-right: 20%;
}

.search-form {
  width: 50%;
}

#navbar {
  display: flex;
  align-items: center;
}
