.navbar-lewagon {
  justify-content: space-between;
  background: white;
  height: 80px;
  align-items: center;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }

.navbar-brand {
  padding: 4px;
}

.search-form-control {
  position: relative;
}

.search-form-control .btn {
  position: absolute;
}

.second-navbar {
  display: flex;
  background-color: #e4e4e4;
  padding-left: 20%;
  padding-right: 20%;

}
